/*
 *
 *    Debug CSS
 *
 */
/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/

html, body {
    font-family: DejaVu Mono, Monospace;
    background-color: #fdfdfd;
    color: #212529;
}

p {
    width: 100%;
}

::selection {
    background: #ffc107; /* WebKit/Blink Browsers */
    color: #212529;
}

::-moz-selection {
    background: #ffc107; /* Gecko Browsers */
    color: #212529;
}

a {
    color: #ffc107;
}

.black-section a:hover, a:active {
    color: #ffc107;
}

.show ul.navbar-nav, .collapsing ul.navbar-nav{
    height: 100vh;
    display: table;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 3em;
}

.nav-item {
    display: table-row;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ffc107;
}

.fullscreen-height {
    height: 100vh;
}

.carousel {
    position: static;
    height: 100%;
}

.carousel-inner, .carousel-item {
    height: 100%
}

.carousel-item{
    position: relative;
}

div.carousel-item img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

header.site-header {
    padding: 3.5em 0 0 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.static-title-header {
    font-size: 3em;
    padding-bottom: 3.4em;
}

.carousel-title {
    padding-top: 5.4em;
}
.carousel-title-header {}

span.bash {
    color: #ffc107;
}

/*
.carousel-subtitle-header:before, .carousel-subtitle-header:after {
    color: #ffc107;
    content: " __ ";
    position: relative;
    bottom: 0.6em;
}
*/

.feature-icon {

    margin: 0 auto 1em;
}

.feature-desc {
    text-align: center;
}

.section-title {
    margin-bottom: 3em;
}

section#facts {
    background-image: url('../img/parallax.jpg');
    background-position: center bottom;
    color: #ddd;
}

.fact-item {
    text-align: center;
    padding-bottom: 2rem;
}

.fact-icon {

    margin: 0 auto 1em;
}

nav#mainNav, footer#footer{
    background-image: url('../img/header.jpg');
}

.divider::before, .divider::after{
    content: "_________";
    position: relative;
    bottom: 6px;
}

a {
    color: #ffc107;
}

.carousel-indicators li.active{
    background-color: #ffc107;
}

.black-section {
    color: #ddd;
    background-color: #121212;
}

.category-filter ul {
    list-style: none;
    padding: 0;
    line-height: 2em;
}

.category-filter ul li {
    display: inline-block;
}

.category-filter ul li a:hover, .category-filter ul li a:hover, .category-filter ul li a.active {
    background-color: #ffc107;
    border-radius: 6px;
    color: #212529 !important;
}

.category-filter ul li a {
    padding: 5px 17px;
}

.filter-li {
    width: 100%;
}

.filter-li{
    padding-bottom: 1em;
    margin-bottom: 1em;
    background-clip:content-box;
    border-bottom: 1px solid #ddd;
}

.filter-li-desc {
    display:inline-block;
    padding: 1em 0;
}

.filter-li-icon {
    padding-bottom: 1em;
}

.filter-li-icon > div {
    display: inline-block;
}

.icon-border-lg {
    border: 1px solid;
    border-radius: 50%;
    width: 2.5em;
    padding: 0.4em 0.4em;
    margin: 0 auto;
}

.icon-border-2x {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1.5em 1.8em;
    width: 5.4em;}

.icon-border-3x {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 2em 1.5em;
    width: 7.2em;
}

.black-section .table {
    color: #ddd;
}

.black-section .table th {
    color: #ffc107;
}

.black-section .table tbody tr:hover{
    background-color: #ffc107;
    color: #212529;
}

.black-section .table tbody tr:hover a{
    background-color: #ffc107;
    color: #212529;
}

.black-section .table tbody tr:hover a:hover, .black-section .table tbody tr:hover a:active{
    background-color: #ffc107;
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
}

.linkmail, .reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.pubkey {
    display: none;
}

.myself-description{
    display: none;
}

.myself-title{
    background-color: #ffc107;
    border-radius: 6px;
    padding: 5px 17px;
    display: table;
}


code {
    color: #ffc107;
    background-color: #121212;
    white-space: pre;
    padding: 0.5em 2em;
}

.small-command {
    margin-bottom: 1em;
    margin-top: 1em;
}
.command {
    color: #ffc107;
}
