html, body {
    font-family: DejaVu Mono, Monospace;
    overflow-x: hidden;
}

.fullscreen-height {
    height: 100vh;
}

.carousel {
    position: static;
    height: 100%;
}

.carousel-inner, .carousel-item {
    height: 100%
}

div.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

header.site-header {
    padding: 3.5em 0 0 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.static-title-header {
    font-size: 4em;
    padding-bottom:3em;
}

.carousel-title-header {
    color: red;
}

.carousel-subtitle-header {
    color: green;
}

.feature-icon {
    border: 1px solid black;
    border-radius: 50%;
    padding: 1.5em 1.6em;
    width: 5.4em;
    margin: 0 auto 1em;
}

.feature-desc {
    text-align: center;
}

.section-title {
    margin-bottom: 3em;
}

section#facts {
    background-image: url('../img/parallax.jpg');
    color: #ddd;
}

.fact-item {
    text-align: center;
}

.fact-icon {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 2em 1.5em;
    width: 7.2em;
    margin: 0 auto 1em;
}

nav#mainNav, footer#footer{
    background-image: url('../img/header.jpg');
}

.divider::before, .divider::after{
    content: "_________";
    position: relative;
    bottom: 6px;
}
